/* styles.css */

/* 禁止用户选择文本和元素 */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

:root {
  --font-family: var(--vue-app-font-family);
}

* {
  font-family: var(--font-family);
}

::-webkit-scrollbar {
  width: 0;
}

/* 定义渐入动画 */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 应用渐入动画到主要内容 */
body, .container, h1, .input-container, #canvasPreview, footer {
  animation: fadeIn .8s ease-in-out;
}

body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: center;
  max-width: 1600px;
  margin: auto;
}

.input-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
  background: #fff;
  width: 100%;
  min-height: 500px;
  flex: 1;
}

.icon-selector,.watermark-group {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

input.input-icon {
  flex: 1;
}
.background-settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.background-upload,
.background-blur {
  display: flex;
  gap: 10px;
}

.background-upload label,
.input-color,.input-range {
  flex: 1;
  white-space: nowrap;
}

.background-upload input[type="file"],
.background-blur input[type="range"] {
  flex: 2;
}

.color-group,
.icon-settings .setting-item,
.text-settings {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100%;
}

.color-group label,
.icon-settings .setting-item label,
.text-settings label {
  font-size: 16px;
  color: #333;
}

.icon-settings {
  display: flex;
  gap: 10px;
}

.radio-group {
  display: flex;
  justify-content: space-between;
}

.radio-group label {
  cursor: pointer;
  color: #333;
  display: flex;
  gap: 5px;
  align-items: center;
}

.radio-group input[type="radio"],
.input-checkbox input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin: 0;
  position: relative;
  outline: none;
  cursor: pointer;
}

.radio-group input[type="radio"]::before,
.input-checkbox input[type="checkbox"]::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background-color: #4CAF50;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease-in-out;
}

.radio-group input[type="radio"]:checked::before,
.input-checkbox input[type="checkbox"]:checked::before {
  transform: translate(-50%, -50%) scale(1);
}

.radio-group input[type="radio"]:checked + span,
.input-checkbox input[type="checkbox"]:checked + span {
  color: #4CAF50;
}

.input-file,
.input-text,
.input-color,
.input-range,
.input-icon,
.input-checkbox {
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 5px;
  font-size: 1em;
  background-color: #fff;
  border: 1px solid #ccc;
  transition: border-color .5s;
  outline: none;
}

.input-file:hover,
.input-text:hover,
.input-color:hover,
.input-range:hover,
.input-icon:hover,
.input-checkbox:hover  {
  border-color: #4CAF50;
}

.input-range {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #eee;
  border-radius: 10px;
  outline: none;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
}

.input-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
}
.input-checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  width: auto;
}

.input-color {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 20px;
  border: none;
  border-radius: 5px;
  padding: 0;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;
}

.input-color:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.input-color::-webkit-color-swatch-wrapper {
  padding: 0;
}

.input-color::-webkit-color-swatch {
  border: none;
  border-radius: 5px;
}

.input-color::-moz-color-swatch {
  border: none;
  border-radius: 5px;
}

.btn,
.file-input-label,
.icon-link {
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  text-decoration: none;
}

.btn-save:hover,
.file-input-label:hover,
.icon-link:hover,
.btn:hover {
  background-color: #009905;
}

#inputBgImage,
#inputSquareImage {
  display: none;
}

.button-container {
    display: flex;
    gap: 10px;
}

.btn {
  width: 100%;;
}

#canvasPreview {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
  width: 100%;
  flex: 2;
}

footer {
  margin: 45px 0 10px 0;
  text-align: center;
  font-size: 12px;
}

footer span {
  margin: 0 5px;
}

.icp {
  margin-top: 10px;
}

.icp a {
  font-weight: 800;
  color: #009905;
  transition: all .5s;
  text-decoration: none;
  margin: 0 5px;
}

.icp a:hover{
  color: #aaa;
}

.logo-btn {
  margin: 0 5px;
  color: #f45873;
  font-size: 12px;
  font-weight: bold;
  padding: 0;
  outline: 0;
  border: none;
  background: 0 0;
  cursor: pointer;
  -webkit-appearance: none;
}

/* 弹窗通用样式 */
.custom-popup, .tips-popup {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-20px);
  width: 90%;
  max-width: 600px;
  height: 100%;
  max-height: 82px;
  padding: 10px;
  margin: 10px auto;
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.5s ease-in-out;
  z-index: 100;
}

.custom-popup.show, .tips-popup.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0px);
  visibility: visible;
}

.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%; /* 使内容占满整个弹窗高度 */
  overflow: hidden;
}

.popup-content p{
  margin: 10px;
}

.popup-content a {
  transition: all .5s;
  color: #009905;
  text-decoration: none;
}

.popup-content a:hover {
  color: #222;
}

.highlight {
  color: #ff0000;
}
